*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #add8e677;
    margin: 15px auto;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game h1{
    margin-bottom: 50px;
}

#game-div{
    position: relative;
}

#game-div #intro-hover{
    background: linear-gradient(to bottom, #f06292, #ba68c8, #9575cd, #64b5f6, #4dd0e1, #4caf50, #ffeb3b);
}

#game-div #intro-hover.cliked{
    display: none;
}

#game-div #intro-hover, #game-over{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game-div #game-over{
    display: none;
    background: #d8badd5e;
}

#game-div #game-over.active{
    display: flex;
}

#game-div #game-over .end{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

#game-div #intro-hover #btn, #new-game-btn{
    background-color: rgb(67, 167, 67);
    padding: 15px 28px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
}

#game-div #intro-hover #btn:hover, #new-game-btn:hover{
    background-color: green;
}

#game-div #canvas{
    border: 1px solid black;
}